root:{
    /* colors */
    --primary-brand-color: #4D5AE5;
    --pressed-state-color:#404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --main-text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
    --section-effective-color: white;
    /* text */
    --main-type: "Roboto", sans-serif;
    --subsidiary-type: "Raleway", sans-serif;
    /*  */
}

body{
    font-family: "Roboto", sans-serif;
    font-family: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}
/* header */

header{
    background-color: var(--modal-background);
}

.logo {
    font-family: "Roboto", sans-serif;;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-name{
    color: #2e2f42;
}

.navigator-head a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigator-head a:hover{
    color: #404bbf;
}

.link-active:active{
    color: #404bbf;
}

.email-and-tel{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.email-and-tel a {
    text-decoration: none;
    color: var(--main-text-color);
}

.email-and-tel a:hover {
    color: #404bbf;
}

/* end-header */

/* main */

/* section-effective */

.section-one{
    background-color: #2e2f42;
}

.section-one-h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    }

.button-servise{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color:#4d5ae5;
    cursor: pointer;
    }

.button-servise:hover{
    background-color: #404bbf;
}

.button-servise:active{
    background-color: #404BBF;
}

/* end-section-effective */

/* section-priciplec */

.principles-h3 h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    }

.principles-p p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    }

/* end-section-priciplec */

/* section-team */

.team{
    background-color: #F4F4FD;
}
.our-team {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    }

.our-team-ul{
    background-color: #FFFFFF;
}

.our-team-h3 h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team-p p{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    }

/* end-section-team */

/* section-portfolio */

.portfolio {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-h3 h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-p p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
/* end-section-portfolio */

/* end-main */

/* section-footer */
    .footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2E2F42;
    }
/* end-section-footer */
